<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.modelversioning.emfprofile.actions.extensionpoint.actionhandlers" name="Action Handler Registry" schema="schema/org.modelversioning.emfprofile.actions.extensionpoint.actionhandlers.exsd"/>
</plugin>
